Notification.wsdl

<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:xsd="http://broker.remote.expres.psnc.pl/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:nsNf="http://broker.remote.expres.psnc.pl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://broker.remote.expres.psnc.pl">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://broker.remote.expres.psnc.pl/xsd">
			<xs:element name="chunkIsReady">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="param0" nillable="true" type="xs:int"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="chunkIsReadyResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return" nillable="true" type="xsd:ChunkInfo"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ChunkInfo" type="xsd:ChunkInfo"/>
			<xs:complexType name="ChunkInfo">
				<xs:sequence>
					<xs:element name="chunkId" type="xs:int"/>
					<xs:element name="chunkLocation" nillable="true" type="xs:string"/>
					<xs:element name="translationNodeIP" nillable="true" type="xs:string"/>
					<xs:element name="translationNodeId" type="xs:int"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="chunkIsReadyMessage">
		<wsdl:part name="part1" element="xsd:chunkIsReady"/>
	</wsdl:message>
	<wsdl:message name="chunkIsReadyResponseMessage">
		<wsdl:part name="part1" element="xsd:chunkIsReadyResponse"/>
	</wsdl:message>
	<wsdl:portType name="NotificationPortType">
		<wsdl:operation name="chunkIsReady">
			<wsdl:input message="nsNf:chunkIsReadyMessage" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsaw:Action="urn:chunkIsReady"/>
			<wsdl:output message="nsNf:chunkIsReadyResponseMessage" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsaw:Action="urn:chunkIsReady"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="NotificationSOAP11Binding" type="nsNf:NotificationPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="chunkIsReady">
			<soap:operation soapAction="urn:chunkIsReady" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="NotificationSOAP12Binding" type="nsNf:NotificationPortType">
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
		<wsdl:operation name="chunkIsReady">
			<soap12:operation soapAction="urn:chunkIsReady" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Notification">
		<wsdl:port name="NotificationSOAP11port" binding="nsNf:NotificationSOAP11Binding">
			<soap:address location="http://melisa.man.poznan.pl:8080/axis2/services/Notification"/>
		</wsdl:port>
		<wsdl:port name="NotificationSOAP12port" binding="nsNf:NotificationSOAP12Binding">
			<soap12:address location="http://melisa.man.poznan.pl:8080/axis2/services/Notification"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>

