TranslationNodeNotification.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://broker.remote.expres.psnc.pl" xmlns:axis2="http://broker.remote.expres.psnc.pl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns0="http://broker.remote.expres.psnc.pl/xsd" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns1="http://jobinfo.broker.remote.expres.psnc.pl/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://broker.remote.expres.psnc.pl/xsd" xmlns:xsd="http://broker.remote.expres.psnc.pl/xsd">
    <xs:element name="chunkIsReady">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="param0" nillable="true" type="ns1:ChunkInfo"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://jobinfo.broker.remote.expres.psnc.pl/xsd" xmlns:ax21="http://jobinfo.broker.remote.expres.psnc.pl/xsd">
    <xs:complexType name="ChunkInfo">
        <xs:sequence>
            <xs:element minOccurs="0" name="chunkId" type="xs:long"/>
            <xs:element minOccurs="0" name="chunkLocation" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="chunkSize" type="xs:long"/>
            <xs:element minOccurs="0" name="endTime" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="startTime" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="translationNodeIP" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="translationNodeId" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="chunkIsReadyRequest">
    <wsdl:part name="parameters" element="ns0:chunkIsReady">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="TranslationNodeNotificationPortType">
    <wsdl:operation name="chunkIsReady">
      <wsdl:input message="axis2:chunkIsReadyRequest" wsaw:Action="urn:chunkIsReady">
    </wsdl:input>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TranslationNodeNotificationSOAP12Binding" type="axis2:TranslationNodeNotificationPortType">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="chunkIsReady">
      <soap12:operation soapAction="urn:chunkIsReady" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TranslationNodeNotificationHttpBinding" type="axis2:TranslationNodeNotificationPortType">
    <http:binding verb="POST"/>
    <wsdl:operation name="chunkIsReady">
      <http:operation location="TranslationNodeNotification/chunkIsReady"/>
      <wsdl:input>
        <mime:content part="chunkIsReady" type="text/xml"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TranslationNodeNotificationSOAP11Binding" type="axis2:TranslationNodeNotificationPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="chunkIsReady">
      <soap:operation soapAction="urn:chunkIsReady" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TranslationNodeNotification">
    <wsdl:port name="TranslationNodeNotificationSOAP12port_http" binding="axis2:TranslationNodeNotificationSOAP12Binding">
      <soap12:address location="http://localhost:8080/axis2/services/TranslationNodeNotification"/>
    </wsdl:port>
    <wsdl:port name="TranslationNodeNotificationHttpport" binding="axis2:TranslationNodeNotificationHttpBinding">
      <http:address location="http://localhost:8080/axis2/services/TranslationNodeNotification"/>
    </wsdl:port>
    <wsdl:port name="TranslationNodeNotificationSOAP11port_http" binding="axis2:TranslationNodeNotificationSOAP11Binding">
      <soap:address location="http://localhost:8080/axis2/services/TranslationNodeNotification"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
